{% extends "padre.html" %}
{% load static %}


{% block image %}

<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('{% static "assets/img/sumate.png" %}')"></div>  
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Bienvenido al panel de manejo de usuarios
                    <br>
                    <br>


                    <button>
                        <a href= "/register/" >Usuario Nuevo</a> 
                    </button>

                    <br>

                    <br>
                    <br>
                    <button>
                    
                        <a href= "/editar-perfil/" >Editar Usario Existente</a>


                    </button>
                </h2>
                <p class="lead mb-0">  Tenga precaucion en el manejo  </p>
            </div>
        </div>


{% endblock image %}