{% extends "padre.html" %}
{% load static %}


{% block image %}
<h2>{% for p in predicas %}    

<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('{{p.imagen.url}}')"></div>  
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <li><h1>        <button>
                        <a href= "{% url 'ver-predica' p.documento %}" >{{p.nombre}}</a>
                    </button></h1>
                        <br>
                        <h5>{{p.fecha}}</h5>
                        <br>
                    </li>



                </h2>
                <p class="lead mb-0">    </p>
            </div>
        </div>
        {% endfor %}

        {% if user.is_authenticated %}

        <br>
        <br>
        <button>
            <a href= "/agregar-predica/" >agregar-predicas</a>
        </button>
        {% endif %}



{% endblock image %}